extends layout.pug

block content
    .container-fluid
        .row.mt-5
          .col-1
          .col-4.display-5.page-title Add Mariner
          .col-7
        .row.bg-dark.m-3.p-1.py-3
          .col.shadow-4-strong.bg-light.bg-opacity-25.p-4.d-flex.justify-content-evenly.m-2.mb-0
            form(action="/add" method="post" name="addMarinerForm" data-parsley-validate).container
              .row
                .col-3
                  label.form-label(for="mariner-id") Mariner ID:
                  input.form-control(type="text" id="mariner-id" name="marinerID" value=`${next}` disabled required)
                .col-3
                  label.form-label(for="first-name") First Name:
                  input.form-control.bg-white(type="text" id="first-name" name="firstName" data-parsley-required="true")
                .col-3
                  label.form-label(for="middle-name") Middle Name:
                  input.form-control.bg-white(type="text" id="middle-name" name="middleName"  )
                .col-3
                  label.form-label(for="last-name") Last Name:
                  input.form-control.bg-white(type="text" id="last-name" name="lastName" data-parsley-required="true" )
              .row.my-4
                .col-4
                  label.form-label(for="address") Address:
                  input.form-control.bg-white(type="text" id="address" name="address")
                .col-4
                  label.form-label(for="phone-number") Phone Number:
                  input.form-control.bg-white(type="tel" id="phone-number" name="phone" onkeydown="phoneNumberFormatter()" )
                .col-4
                  label.form-label(for="email") Email:
                  input.form-control.bg-white(type="email" id="email" name="email" data-parsley-required="false")
              .row.my-4
                .col-4
                  label.form-label(for="employer") Employer:
                  select.form-select.bg-white(id="employer" name="employer")
                .col-4
                  label.form-label(for="vessel-name") Vessel Name:
                  input.form-control.bg-white(type="text" id="vessel-name" name="vessel")
                .col-4
                  label.form-label(for="mariner-reference-number") Mariner Reference Number:
                  input.form-control.bg-white(type="text" id="mariner-reference-number" name="marinerRefNum" data-parsley-type="digits")
              .row.my-4
                .col-4
                  label.form-label(for="passport-number") Passport Number:
                  input.form-control.bg-white(type="text" id="passport-number" name="passportNumber" data-parsley-type="digits")
                .col-4
                  label.form-label(for="citizenship") Citizenship:
                  select.form-select.bg-white(id="citizenship" aria-label="Select citizenship" name="citizenship")
              .row.my-4
                .col-3
                  label.form-label(for="birth-city") City of Birth:
                  input.form-control.bg-white(type="text" id="birth-city" name="birthCity")
                .col-3
                  label.form-label(for="birth-state") State of Birth:
                  input.form-control.bg-white(type="text" id="birth-state" name="birthState")
                .col-3
                  label.form-label(for="birth-country") Country of Birth:
                  select.form-select.bg-white(id="birth-country" aria-label="Select birth country" name="birthCountry"  )
                .col-3
                  label.form-label(for="birth-date") Birth Date:
                  input.form-control.bg-white.text-dark(type="date" id="birth-date" name="birthDate" data-parsley-required="true")
              .row.my-4
                .col-4
                  label.form-label(for="processing-agent") Processing Agent
                  select.form-select.bg-white.text-dark(id="processing-agent")
              .row.my-4
                .col-12
                  label.form-label(for="notes") Mariner Notes:
                  textarea.form-control.bg-white.text-dark(type="text" id="notes" name="notes")
              .row.my-4
                .col
                .col.d-flex.justify-content-end
                  input.btn.btn-lg.m-2(style="background-color: var(--green-color);" type="submit" id="save-mariner" value="Save")
              
              //- .row.my-4
              //-   .col-8
              //-     
                .col-4
              .row.my-4
                .col
                  button.btn.btn-lg.mx-2#appModalButton(style="background-color: var(--yellow-color);" type="button" value="Application" onclick="checkAppModal()" data-mdb-target="#applicationModal") Application
                  a.btn.btn-lg.mx-1(style="background-color: var(--yellow-color);" type="button" id="licenses" value="Licenses" data-mdb-target="#licensesModal" href="/licenses" target="_blank") Licenses

    include includes/applicationModal

    script(src="/js/validation.js")
    script(src='/js/jquery.min.js')
    script(src='/js/parsley.min.js')
    script.
      let countriesArray = !{JSON.stringify(countries)};
      let employersArray = !{JSON.stringify(employers)};
      let agentsArray = !{JSON.stringify(agents)};
      console.log(agentsArray)
      let citizenshipInput = document.getElementById('citizenship')
      let birthCountryInput = document.getElementById('birth-country')
      let employerInput = document.getElementById('employer')
      let agentInput = document.getElementById('processing-agent')
      for(i = 0; i < countriesArray.length; i++) {
       
        let element = document.createElement('option')
        element.value = i
        element.text = countriesArray[i]
        citizenshipInput.appendChild(element)
       
        let element2 = document.createElement('option')
        element2.value = i
        element2.text = countriesArray[i]
        birthCountryInput.appendChild(element2)
      }

      for(k = 0; k  < employersArray.length; k++) {
        let element3 = document.createElement('option')
        element3.value= employersArray[k]["EmployerID"]
        element3.text = employersArray[k]["EmployerID"] + " - " + employersArray[k]["EmployerName"]
        employerInput.appendChild(element3)
      }

      for(l = 0; l < agentsArray.length; l++) {
        let element4 = document.createElement('option')
        element4.value = agentsArray[l]["AgentID"]
        element4.text = agentsArray[l]["AgentID"] + "-" + agentsArray[l]["AgentName"]
        agentInput.appendChild(element4)
      }
