//-
  @Author: flowmar
  @Date: 2022-07-02 23:11:04
  @Last Modified by:   flowmar
  @Last Modified time: 2022-07-02 23:11:04


extends layout

block style
  style.
    .form-label{
    color: #fff;
    }

block content
  .container-fluid
    .row.mt-5
      .col-11.display-5.mx-5.page-title#title Mariner Licenses
      .col-1
    .row.bg-dark.m-3.p-1.py-3
      .col.shadow-4-strong.bg-light.bg-opacity-25.p-4.d-flex.justify-content-evenly.m-2.mb-0
        .container#licensesModule
          .row#batchActivitiesRow(style="display: none !important;")
            .col-6.d-flex.justify-content-start
              button.btn.btn-secondary(id="batchActivitiesButton" type="button" value="batchActivities") Batch Add Activities
          .row#numberOfLicensesRow(style="display: none !important;")
            .col
              label.form-label(for="numberOfLicenses") Number of Licenses:
              input.form-control(id="numberOfLicenses" type="number")
            .col-3.mt-4.d-flex.align-items-end
              button.btn.btn-warning(id="generate-licenses-button" type="button" value="Generate") Generate
          .row#licenseNamesRow
          .row.my-4#licensesArea(style="display: none !important;")
            .col.bg-dark.rounded.text-white.border.bg-opacity-75.p-0.shadow-4-strong
              ul.nav.nav-pills.nav-justified.mb-3.ms-0#licensesTabList(role="tablist" style="margin-left: 0;")
              .tab-content#tab-content
                .tab-pane.fade.p-3#license-tabs-0(role='tabpanel' aria-labelledby='ex1-tab-1')
                  form(id="licenseForm" action="/license" method='POST').container
                    .row
                      .col
                        .display-5.fw-bold License Information
                        hr.mt-1
                    .row
                      .col-3
                        label.form-label MarinerID:
                        input.form-control(type="text" value=`${marinerID}` readonly)
                        input.form-control(id="marinerIDhidden" name="marinerID" type="text" value=`${marinerID}` hidden)
                      .col-1
                      .col-4
                        label.form-label License Name:
                        input.form-control#licenseName(name="licenseName" type="text")
                      .col-1
                      .col-3
                        label.form-label LicenseID:
                        input.form-control#licenseID(type="text" readonly)
                        input.form-control(id="licenseIDhidden" name="licenseID" type="text" hidden)
                    .row.my-4
                      .col-4
                        label.form-label Country:
                        select.form-select#countriesField(name="country")
                      .col-4
                        label.form-label License Type:
                        select.form-select#licenseTypesField(name="licenseType")
                    .row.my-4
                      .col-4
                        label.form-label CR Number:
                        input.form-control(id="crNumber" name="crNumber" type="number")
                    .row.my-4
                      .col-3
                        label.form-label Issue Date:
                        input.form-control(id="issueDate" name="issueDate" type="date")
                      .col-1
                      .col-3
                        label.form-label Expiration Date:
                        input.form-control(id="expirationDate" name="expirationDate" type="date")
                      .col
                    .row.my-5
                      .col
                        .form-check
                          input.form-check-input(id="gcPending" name="gcPending" type="checkbox")
                          label.form-label Pending Global Compliance
                      .col
                        .form-check
                          label.form-label Pending Government
                          input.form-check-input(id="govtPending" name="govtPending" type="checkbox")
                    .row#saveLicenseRow
                      .col.d-flex.justify-content-end
                        button.btn.btn-success#saveButton(type="button" onclick="saveLicenseInformation()") Save
                    //- .row#editButtonRow(style="display: none;")
                    //-   .col.d-flex.justify-content-end
                    //-     button.btn.btn-info.mx-1#editButton(type="button" onclick="editLicenseInformation()") Edit
                    //-     button.btn.btn-danger.mx-1#deleteButton(type="button" onclick="deleteLicense()") Delete
                    .row
                      .col-6.p-0
                        .display-5.fw-bold License Activity
                      hr.mt-1
                    .row
                      h2 GC Activity
                    .row.my-4
                      .col-12
                        table.table.table-bordered.table-sm#gcActivityTable
                          thead.table-dark.bg-white
                            tr
                              th.p-3(scope="col" style="text-align: center;") Logged At
                              th.p-3(scope="col" style="text-align: center;") Global Compliance Activity
                          tbody.bg-white.text-dark.table-group-divider.table-divider-color#gcActivityTableBody(style="font-size: 1rem; font-weight: bold;")
                    .row
                      .col.d-flex.justify-content-end
                        button.btn.btn-info.m-2.gc-buttons(id="edit-GC-activity-button" data-mdb-target="#editGCLicenseActivityModal" type="button")
                          i.bi.bi-pencil-square.text-dark
                          span.text-dark   &nbsp;Edit
                        button.btn.m-2.gc-buttons(id="delete-GC-activity-button" type="button" onclick="confirmAndDeleteGCActivity()" style="background-color: var(--red-color);")
                          i.bi.bi-x-circle-fill.text-dark
                          span.text-dark   &nbsp;Delete
                    .row.mt-4.mb-2
                      .col-6
                        label.form-label Global Compliance Activity:
                        textarea#gcActivityBox.form-control.bg-white.text-dark(data-parsley-maxlength="255" type="text" form="activityForm" maxlength="255")
                    .row.mt-0.pr-2
                      .col.d-flex.justify-content-start
                        span#gcCharacterCountMessage.text-light
                    .row
                      .col-6.d-flex.justify-content-end
                        button.btn.btn-success#saveGCActivity(type="button" onclick="saveGCActivity()") Save
                    //- .row
                    //-   .col-6.d-flex.justify-content-end
                    //-     button.btn.btn-info#editGCActivity(type="button" onclick="editGCActivity()" style="display: none;")
                    //-     button.btn.btn-danger#deleteGCActivity(type="button" onclick="deleteGCActivity()" style="display: none;")
                      //- hr.mt-5
                    hr.mt-5.mb-3
                    .row
                      h2 Govt Activity
                    .row.my-4
                      .col-12
                        table.table.table-bordered.table-sm#govtActivityTable
                          thead.table-dark.bg-white
                            tr
                              th.p-3(scope="col" style="text-align: center;") Logged At
                              th.p-3(scope="col" style="text-align: center;") Government Activity
                          tbody.bg-white.text-dark.table-group-divider.table-divider-color#govtActivityTableBody(style="font-size: 1rem; font-weight: bold;")
                    .row
                      .col.d-flex.justify-content-end
                        button.btn.btn-info.m-2.govt-buttons(id="edit-govt-activity-button" data-mdb-target="#editGovtActivityModal" type="button")
                          i.bi.bi-pencil-square.text-dark
                          span.text-dark   &nbsp;Edit
                        button.btn.m-2.govt-buttons(id="delete-govt-activity-button" type="button" onclick="confirmAndDeleteGovtActivity()" style="background-color: var(--red-color);")
                          i.bi.bi-x-circle-fill.text-dark
                          span.text-dark   &nbsp;Delete
                    .row.mt-4.mb-2
                      .col-6
                        label.form-label Government Activity:
                        textarea#govtActivityBox.form-control.bg-white.text-dark(data-parsley-maxlength="255" type="text" form="activityForm" maxlength="255")
                    .row.mt-0.pr-2
                      .col.d-flex.justify-content-start
                        span#govtCharacterCountMessage.text-light
                    .row
                      .col-6.d-flex.justify-content-end
                        button.btn.btn-success#saveGovtActivity(type="button" onclick="saveGovtActivity()") Save
                    //- .row
                    //-   .col-6.d-flex.justify-content-end
                    //-     button.btn.btn-info#editGovtActivity(type="button" onclick="editGovtActivity()" style="display: none;")
                    //-     button.btn.btn-danger#deleteGovtActivity(type="button" onclick="deleteGovtActivity()" style="display: none;")
                      hr.mt-5
                    hr.mt-5.mb-3
                    .row
                      h2 License Attachments
                    .row.my-4
                      .col-12
                        table.table.table-bordered.table-sm#licenseAttachmentTable
                          thead.table-dark.bg-white
                            tr
                              th.p-3(scope="col" style="text-align: center;") Uploaded At
                              th.p-3(scope="col" style="text-align: center;") Attachment Name
                          tbody.bg-white.text-dark.table-group-divider#licenseAttachmentTableBody(style="font-size: 1rem; font-weight: bold;")
                    .row
                      .col.d-flex.justify-content-end
                        button.btn.btn-info.m-2.attachment-buttons(id="download-license-attachment-button")
                          i.bi.bi-pencil-square.text-dark
                          span.text-dark   &nbsp;Download
                        button.btn.m-2.attachment-buttons(id="delete-license-attachment-button" type="button" onclick="confirmAndDeleteLicenseAttachment()" style="background-color: var(--red-color);")
                          i.bi.bi-x-circle-fill.text-dark
                          span.text-dark   &nbsp;Delete
                    //- .row.my-4
                    //-   .col-6
                    //-     label.form-label License Attachment Name:
                    //-     input.form-control#licenseAttachmentName(name="licenseAttachmentName" type="text")
                    //-   .col-6
                    //-     label.form-label License Attachment:
                    //-     .input-group#attachment-input-group
                    //-       input.form-control.form-control-file.text-dark(id="attachment-file" name="attachment" type="file")
                    //-       button.input-group-text.btn(id="attachment-upload-button" type="button" style="background-color: var(--yellow-color); font-weight: bold;" value="Upload") Upload
                    .row#deleteLicenseRow.mt-4
                      .col-6.d-flex.justify-content-start
                        button.btn.btn-warning.text-dark(id="license-attachment-button" data-mdb-target="#licenseAttachmentModal" type="button" value="Attachment")
                          i.bi.bi-file-medical(style="font-size: 1rem;")
                          span &nbsp; Upload License Attachment
                      .col-6.d-flex.justify-content-end
                        button.btn.btn-danger.text-dark(id="deleteLicenseButton" type="button" value="deleteLicense" onclick="deleteLicense()")
                          i.bi.bi-x-circle-fill.text-dark
                          span.text-dark   &nbsp; Delete License

            include includes/summaryTableHead
            include includes/newLicenseModal
            include includes/licenseAttachmentModal
            include includes/editGCLicenseActivityModal
            include includes/editGovtLicenseActivityModal

  script.
    // Get information from server
    let marinerID = !{JSON.stringify(marinerID)};
    let licensesArray = !{JSON.stringify(licenseInfo)};
    let countriesArray = !{JSON.stringify(countries)};
    let licenseTypesArray = !{JSON.stringify(licenseTypes)};
    let marinerName = !{JSON.stringify(marinerName)};

    // Create fullName
    let fullName = marinerName.FirstName + " " + marinerName.MiddleName + " " + marinerName.LastName;

    $(document).ready( function() {
      // Place the name into the Title
    $('#title').text("Mariner Licenses -\n\n" + fullName);

      // Place an empty option element into the dropdown for countries
      let blankElement = document.createElement("option");
      blankElement.value = 0;
      document.getElementById('countriesField').appendChild(blankElement);

      // Place the countries into the licenseForm
      for(let i = 0; i < countriesArray.length; i++) {
      // Citizenship input
      let element = document.createElement('option');
      element.value = i + 1;
      element.text = countriesArray[i]['CountryName'];
      document.getElementById('countriesField').appendChild(element);
      }

      // Place an empty option element into the dropdown for license types
      let blankTypeElement = document.createElement("option");
      blankTypeElement.value = 0;
      document.getElementById('licenseTypesField').appendChild(blankTypeElement);

      // Place the license types into the licenseForm
      for(let i = 0; i < licenseTypesArray.length; i++) {

      // Citizenship input
      let element = document.createElement('option');
      element.value = i + 1;
      element.text = licenseTypesArray[i]['Type'];
      document.getElementById('licenseTypesField').appendChild(element);
      }

      let numberOfLicensesRow = $('#numberOfLicensesRow');
      //- numberOfLicensesRow.hide();
      let licensesArea = $('#licensesArea');
         // Hide the licenses area from view
      //- licensesArea.hide();

      let tabContent = $('#tab-content');
      let licensesTabList = $('#licensesTabList');

      // If there is no license data in the database...
      if (licensesArray.length < 1) {

      // Hide Delete and Edit Buttons
      //- $('#editButton').hide();
      //- $('#deleteButton').hide();

      // Show the number of licenses row
      let generateLicensesButton = document.getElementById('generate-licenses-button');
      let licensesModule = $('#licensesModule');
      let licenseForm = document.getElementById('licenseForm');
      numberOfLicensesRow.show();

      // When the generate button is clicked...
      generateLicensesButton.addEventListener('click', function(e) {

        // Get the value in the input field
        let numberOfLicenses = parseInt($('#numberOfLicenses').val());

        // Select the license Names row
        let licenseNamesRow = $('#licenseNamesRow');

        // Hide the generate licenses row
        $('#numberOfLicensesRow').attr('style','display: none !important;');

        // Based on the number of licenses, create text fields to accept the names
        for(let i = 1; i <= numberOfLicenses; i++)
        {
          // Create a label for the text field
          let label = document.createElement('label');
          label.setAttribute('for', "nameLicense" + i);
          label.textContent = "License " + i + " Name:";

          // Create the text field for the license name
          let element = document.createElement('input');
          element.classList = 'form-control bg-white';
          element.setAttribute('id', "nameLicense" + i);

          // Create a wrapper to place them into
          let div = document.createElement('div');
          div.classList = 'col-4 my-2'
          div.appendChild(label);
          div.appendChild(element);

          // Append the text fields to the license names row
          licenseNamesRow.append(div);
        }

        // Create an add the Create button to the UI
        let createButton = document.createElement('button');
        createButton.textContent = "Create";
        createButton.setAttribute('id', 'create-licenses-button');
        createButton.classList = 'btn btn-secondary my-2';

        // Create a wrapper for the button
        let createButtonDiv = document.createElement('div');
        createButtonDiv.classList = '.row';

        // Append the button to the div
        createButtonDiv.appendChild(createButton);

        // Append the div to the main module
        licenseNamesRow.append(createButtonDiv);

        // Select the create button
        let createLicensesButton = $('#create-licenses-button');

        // When the create button is clicked...
        createLicensesButton.on('click', function (e) {

        // Array to hold the license names
        let licenseNamesArray = [];

        // Get the text from each of the license name text fields
        for(let j = 1; j <= numberOfLicenses; j++)
        {

          // Create the selector for the license text field
          let licenseSelector = "#nameLicense" + j;
          //- console.log(licenseSelector);

          // Select the text field
          let licenseTextbox = $(licenseSelector);
          //- console.log(licenseTextbox);

          // Get the value in the text field
          let licenseName = licenseTextbox.val();
          //- console.log(licenseName);

          // Add the license name to the names array
          licenseNamesArray.push(licenseName);
        }

        // Show the licenses area
        $('#licensesArea').show();
        // Show the batch activities row
        $('#batchActivitiesRow').show();

        // Generate Tabs for each license in the names array
        for (let k = 0; k < licenseNamesArray.length; k++)
        {
        // Create the HTML for the tabs
        let navItem = document.createElement('li');
        navItem.classList = 'nav-item';
        navItem.role = 'presentation';

        // Create the HTML for the nav links
        let navLink = document.createElement('a');
        navLink.classList = 'nav-link';
        navLink.id = 'license-tab-' + (k + 1);
        navLink.setAttribute('data-mdb-toggle', 'tab');
        navLink.href = '#license-tabs-' + (k + 1);
        navLink.role = 'tab';
        navLink.setAttribute('aria-controls', 'license-tabs-' + (k + 1));
        navLink.setAttribute('aria-selected', 'false');
        navLink.textContent = licenseNamesArray[k];

        // Append the navLink to the navItem
        navItem.appendChild(navLink);

        // Append the navItem to the tab list
        licensesTabList.append(navItem);

        // Create HTML for the tab content
        let tabPane = document.createElement('div');
        tabPane.classList = 'tab-pane fade p-3';
        tabPane.id = 'license-tabs-' + (k + 1);
        tabPane.role = 'tabpanel';
        tabPane.setAttribute('aria-labelledby', 'license-tab-' + (k + 1));
        //- tabPane.textContent = 'License: ' + licenseNamesArray[k] + ' Content';

        // Create a clone of the form
        let formClone = licenseForm.cloneNode(true);

        // Replace spaces with hyphens and make the name lowercase
        let formIdName = licenseNamesArray[k].toLowerCase() + ' form';
        let formIdFormatted = formIdName.replace(/\s/g, '-');

        // Set the id of the form clone to start with 1
        formClone.setAttribute('id', formIdFormatted);
        formClone.dataset.formNumber = k + 1;

        // Append the clone to the tab pane
        tabPane.appendChild(formClone);

        // Append the tab pane to the tab content
        tabContent.append(tabPane);

        // Change the IDs on the cloned form
        let suffix = k + 1;
        let selector = '#' + formIdFormatted;

        // Go through each field on the license form and add the form number to the end of the UI element
        let formMarinerID = $("#marinerIDhidden").attr('id');
        $(selector + ' #marinerIDhidden').attr('id', formMarinerID + suffix);

        $(selector + ' #licenseIDhidden').attr('id', 'licenseIDhidden' + suffix);

        let formLicenseName = $('#licenseName').attr('id');
        $(selector + ' #licenseName').attr('id', 'licenseName' + suffix).val(licenseNamesArray[k]);

        let formLicenseType = $('#licenseTypesField').attr('id');
        $(selector + ' #licenseTypesField').attr('id', formLicenseType + suffix);
        let licenseTypeDropdown = $(selector + ' #licenseTypesField' + suffix);
        //- console.log(licenseTypeDropdown);

        let formCountry = $('#countriesField').attr('id');
        $(selector + ' #countriesField').attr('id', formCountry + suffix);
        // Select the country dropdown on the current form
        let countryDropdown = $(selector + ' #countriesField' + suffix);
        //- console.log(countryDropdown);

        // Set an event listener for change in the input
        countryDropdown.on('input', function(e) {
          //- console.log("VALUE:");
          //- console.log(e.target.value);
          //- console.log(e.target.selectedOptions[0].text);

          // If the value is blank, empty the license type dropdown
          if (e.target.value == 0) {
            licenseTypeDropdown.empty();
          } else {
            // Otherwise, filter the license types
            filterTypes(e.target.value, e.target.selectedOptions[0].text, licenseTypeDropdown);
          }
        });

        let formCrNumber = $('#crNumber').attr('id');
        $(selector +' #crNumber').attr('id', formCrNumber + suffix);

        let formIssueDate = $('#issueDate').attr('id');
        $(selector + ' #issueDate').attr('id', formIssueDate + suffix);

        let formExpireDate = $('#expirationDate').attr('id');
        $(selector +' #expirationDate').attr('id', formExpireDate + suffix);

        let formGCPending = $('#gcPending').attr('id');
        $(selector + ' #gcPending').attr('id', formGCPending + suffix);

        let formGovtPending = $('#govtPending').attr('id');
        $(selector + ' #govtPending').attr('id', formGovtPending + suffix);

        let saveButton = $('#saveButton').attr('id');
        $(selector + ' #saveButton').attr('id', saveButton + suffix);

        $(selector + ' #editButton').attr('id', 'editButton' + suffix);

        // Change GC activity form number
        let formGCActivityBox = $('#gcActivityBox').attr('id');
        $(selector + ' #gcActivityBox').attr('id', formGCActivityBox + suffix);

        let formGCActivityTable = $('#gcActivityTable').attr('id');
        $(selector +' #gcActivityTable').attr('id', formGCActivityTable + suffix);

        let formGCActivityTableBody = $('#gcActivityTableBody').attr('id');
        $(selector +' #gcActivityTableBody').attr('id', formGCActivityTableBody + suffix);

        let formGCCharacterCount = $('#gcCharacterCountMessage').attr('id');
        $(selector + ' #gcCharacterCountMessage').attr('id', formGCCharacterCount + suffix);

        let formGCEditActivity = $('#edit-gc-activity-button').attr('id');
        $(selector + ' #edit-gc-activity-button').attr('id', formGCEditActivity + suffix);

        let formGCSaveActivity = $('#saveGCActivity').attr('id');
        $(selector + ' #saveGCActivity').attr('id', formGCSaveActivity + suffix);

        // Change Govt Activity form number
        let formGovtActivityBox = $('#govtActivityBox').attr('id');
        $(selector + ' #govtActivityBox').attr('id', formGovtActivityBox + suffix);

        let formGovtActivityTable = $('#govtActivityTable').attr('id');
        $(selector + ' #govtActivityTable').attr('id', formGovtActivityTable + suffix);

        let formGovtActivityTableBody = $('#govtActivityTableBody').attr('id');
        $(selector +' #govtActivityTableBody').attr('id', formGovtActivityTableBody + suffix);

        let formGovtCharacterCount = $('#govtCharacterCountMessage').attr('id');
        $(selector + ' #govtCharacterCountMessage').attr('id', formGovtCharacterCount + suffix);

        let formGovtEditActivity = $('#edit-govt-activity-button').attr('id');
        $(selector + ' #edit-govt-activity-button').attr('id', formGovtEditActivity + suffix);

        let formGovtSaveActivity = $('#saveGovtActivity').attr('id');
        $(selector + ' #saveGovtActivity').attr('id', formGovtSaveActivity + suffix);

        let formLicenseAttachmentTable = $('#licenseAttachmentTable').attr('id');
        $(selector + ' #licenseAttachmentTable').attr('id', formLicenseAttachmentTable + suffix);

        let formLicenseAttachmentTableBody = $('#licenseAttachmentTableBody').attr('id');
        $(selector + ' #licenseAttachmentTableBody').attr('id', formLicenseAttachmentTableBody + suffix);

        let uploadLicenseAttachmentButton = $('#license-attachment-button').attr('id');
        $(selector + ' #license-attachment-button').attr('id', uploadLicenseAttachmentButton + suffix);

        }
        // Hide the license names row
        licenseNamesRow.hide();

        // Create the HTML for the + and summary tabs
        let navItem = document.createElement('li');
        navItem.classList = 'nav-item';
        navItem.role = 'presentation';

        // Create the HTML for the nav links
        let navLink = document.createElement('a');
        navLink.classList = 'nav-link';
        navLink.id = 'addLicense';
        navLink.setAttribute('data-mdb-toggle', 'pill');
        navLink.href = '#';
        navLink.role = 'tab';
        navLink.setAttribute('aria-controls', 'addLicense');
        navLink.setAttribute('aria-selected', 'false');
        navLink.textContent = '+ Add New License';

        // Append the navLink to the navItem
        navItem.appendChild(navLink);
        // Append the navItem to the tab list
        licensesTabList.append(navItem);

        let summaryItem = document.createElement('li');
        summaryItem.classList = 'nav-item';
        summaryItem.role = 'presentation';

        // Create the HTML for the summary link
        let summaryLink = document.createElement('a');
        summaryLink.classList = 'nav-link';
        summaryLink.id = 'summary';
        summaryLink.setAttribute('data-mdb-toggle', 'pill');
        summaryLink.href = '#summary-tab';
        summaryLink.role = 'tab';
        summaryLink.setAttribute('aria-controls', 'summary');
        summaryLink.setAttribute('aria-selected', 'false');
        summaryLink.textContent = 'Summary';

        // Append the summary link to the summaryItem
        summaryItem.appendChild(summaryLink);

        // Prepend the summary tab to the licenses tab list
        licensesTabList.prepend(summaryItem);

        // Create HTML for the summary tab content
        let summaryTabPane = document.createElement('div');
        summaryTabPane.classList = 'tab-pane fade p-3';
        summaryTabPane.id = 'summary-tab';
        summaryTabPane.role = 'tabpanel';
        summaryTabPane.setAttribute('aria-labelledby', 'summary');


        // Prepend the summary tab pane to the tab content
        tabContent.prepend(summaryTabPane);


      });
      });
      }
      else
      {
        // Hide the save button
        //- $('#saveButton').hide();
        // Show the licenses area
        $('#licensesArea').show();
        // Show the batch activities button
        $('#batchActivitiesRow').show();
        //- console.log(licensesArray);

        //---------------------- Display Licenses ----------------------------//
        let licenseNamesArray = [];

        for(let j = 0; j < licensesArray.length; j++) {
          licenseNamesArray.push(licensesArray[j]['LicenseName']);
        }

        // Generate Tabs for each license in the names array
        for (let k = 0; k < licenseNamesArray.length; k++)
        {
          // Create the HTML for the tabs
        let navItem = document.createElement('li');
        navItem.classList = 'nav-item';
        navItem.role = 'presentation';

        // Create the HTML for the nav links
        let navLink = document.createElement('a');
        navLink.classList = 'nav-link';
        navLink.id = 'license-tab-' + (k + 1);
        navLink.setAttribute('data-mdb-toggle', 'tab');
        navLink.href = '#license-tabs-' + (k + 1);
        navLink.role = 'tab';
        navLink.setAttribute('aria-controls', 'license-tabs-' + (k + 1));
        navLink.setAttribute('aria-selected', 'false');
        navLink.textContent = licenseNamesArray[k];

        // Append the navLink to the navItem
        navItem.appendChild(navLink);
        // Append the navItem to the tab list
        licensesTabList.append(navItem);

        // Create HTML for the tab content
        let tabPane = document.createElement('div');
        tabPane.classList = 'tab-pane fade p-3';
        tabPane.id = 'license-tabs-' + (k + 1);
        tabPane.role = 'tabpanel';
        tabPane.setAttribute('aria-labelledby', 'license-tab-' + (k + 1));

        // Create a clone of the form
        let formClone = licenseForm.cloneNode(true);

        // Replace spaces with hyphens and make the name lowercase
        let formIdName = licenseNamesArray[k].toLowerCase() + ' form';
        let formIdFormatted = formIdName.replace(/\s/g, '-');

        // Set the id of the form clone
        formClone.setAttribute('id', formIdFormatted);

        formClone.dataset.formNumber = k + 1;

        // Append the clone to the tab pane
        tabPane.appendChild(formClone);

        // Append the tab pane to the tab content
        tabContent.append(tabPane);

        // Change the IDs on the cloned form
        let suffix = k + 1;
        let selector = '#' + formIdFormatted;

        // Go through each UI element and add the form number to the end of the id
        let formMarinerID = $("#marinerIDhidden").attr('id');
        $(selector + ' #marinerIDhidden').attr('id', formMarinerID + suffix);

        $(selector + ' #licenseID').attr('id', 'licenseID' + suffix);

        $(selector + ' #licenseName').attr('id', 'licenseName' + suffix);

        $(selector + ' #licenseIDhidden').attr('id', 'licenseIDhidden' + suffix);

        let formLicenseType = $('#licenseTypesField').attr('id');
        $(selector + ' #licenseTypesField').attr('id', formLicenseType + suffix);
        let licenseTypeDropdown = $(selector + ' #licenseTypesField' + suffix);
        //- console.log(licenseTypeDropdown);

        let formCountry = $('#countriesField').attr('id');
        $(selector + ' #countriesField').attr('id', formCountry + suffix);
        // Select the country dropdown on the current form
        let countryDropdown = $(selector + ' #countriesField' + suffix);
        //- console.log(countryDropdown);

        // Set an event listener for change in the input
        countryDropdown.on('input', function(e) {
          //- console.log("VALUE:");
          //- console.log(e.target.value);
          //- console.log(e.target.selectedOptions[0].text);

          // If the value is blank, empty the license type dropdown
          if (e.target.value == 0) {
            licenseTypeDropdown.empty();
          } else {
            // Otherwise, filter the license types
            filterTypes(e.target.value, e.target.selectedOptions[0].text, licenseTypeDropdown);
          }
        });

        let formCRNumber = $('#crNumber').attr('id');
        $(selector + ' #crNumber').attr('id', formCRNumber + suffix);

        let formIssueDate = $('#issueDate').attr('id');
        $(selector + ' #issueDate').attr('id', formIssueDate + suffix);

        let formExpireDate = $('#expirationDate').attr('id');
        $(selector +' #expirationDate').attr('id', formExpireDate + suffix);

        let formGCPending = $('#gcPending').attr('id');
        $(selector + ' #gcPending').attr('id', formGCPending + suffix);

        let formGovtPending = $('#govtPending').attr('id');
        $(selector + ' #govtPending').attr('id', formGovtPending + suffix);

        let saveButton = $('#saveButton').attr('id');
        $(selector + ' #saveButton').attr('id', saveButton + suffix);

        $(selector + ' #editButton').attr('id', 'editButtons' + suffix);

        let formGCActivityBox = $('#gcActivityBox').attr('id');
        $(selector + ' #gcActivityBox').attr('id', formGCActivityBox + suffix);

        let formGCActivityTable = $('#gcActivityTable').attr('id');
        $(selector +' #gcActivityTable').attr('id', formGCActivityTable + suffix);

        let formGCActivityTableBody = $('#gcActivityTableBody').attr('id');
        $(selector +' #gcActivityTableBody').attr('id', formGCActivityTableBody + suffix);

        let formGCCharacterCount = $('#gcCharacterCountMessage').attr('id');
        $(selector + ' #gcCharacterCountMessage').attr('id', formGCCharacterCount + suffix);

        let formGCEditActivity = $('#edit-GC-activity-button').attr('id');
        $(selector + ' #edit-GC-activity-button').attr('id',formGCEditActivity + suffix);

        let formGCDeleteActivity = $('#delete-GC-activity-button').attr('id');
        $(selector + ' #delete-GC-activity-button').attr('id', formGCDeleteActivity + suffix);

        let formGCSaveActivity = $('#saveGCActivity').attr('id');
        $(selector + ' #saveGCActivity').attr('id', formGCSaveActivity + suffix);

        let formGovtActivityBox = $('#govtActivityBox').attr('id');
        $(selector + ' #govtActivityBox').attr('id', formGovtActivityBox + suffix);

        let formGovtCharacterCount = $('#govtCharacterCountMessage').attr('id');
        $(selector + ' #govtCharacterCountMessage').attr('id', formGovtCharacterCount + suffix);

        let formGovtEditActivity = $('#edit-govt-activity-button').attr('id');
        $(selector + ' #edit-govt-activity-button').attr('id', formGovtEditActivity + suffix);

        let formGovtDeleteActivity = $('#delete-govt-activity-button').attr('id');
        $(selector + ' #delete-govt-activity-button').attr('id', formGovtDeleteActivity + suffix);

        let formGovtActivityTable = $('#govtActivityTable').attr('id');
        $(selector + ' #govtActivityTable').attr('id', formGovtActivityTable + suffix);

        let formGovtActivityTableBody = $('#govtActivityTableBody').attr('id');
        $(selector +' #govtActivityTableBody').attr('id', formGovtActivityTableBody + suffix);

        let formGovtSaveActivity = $('#saveGovtActivity').attr('id');
        $(selector + ' #saveGovtActivity').attr('id', formGovtSaveActivity + suffix);

        let formLicenseAttachmentTable = $('#licenseAttachmentTable').attr('id');
        $(selector + ' #licenseAttachmentTable').attr('id', formLicenseAttachmentTable + suffix);

        let formLicenseAttachmentTableBody = $('#licenseAttachmentTableBody').attr('id');
        $(selector + ' #licenseAttachmentTableBody').attr('id', formLicenseAttachmentTableBody + suffix);

        let uploadLicenseAttachmentButton = $('#license-attachment-button').attr('id');
        $(selector + ' #license-attachment-button').attr('id', uploadLicenseAttachmentButton + suffix);

        }

        // Hide the license names row
        //- licenseNamesRow.hide();

        // Create the HTML for the + and summary tabs
        let addNavItem = document.createElement('li');
        addNavItem.classList = 'nav-item';
        addNavItem.role = 'presentation';

        // Create the HTML for the nav links
        let addNavLink = document.createElement('a');
        addNavLink.classList = 'nav-link btn';
        addNavLink.id = 'addLicense';
        //- addNavLink.setAttribute('data-mdb-toggle', 'pill');
        addNavLink.href = '#';
        addNavLink.role = 'tab';
        //- addNavLink.setAttribute('aria-controls', 'addLicense');
        //- addNavLink.setAttribute('aria-selected', 'false');
        addNavLink.textContent = '+ Add New License';
        //- addNavLink.setAttribute('onclick', 'addNewLicenseForm()');
        addNavLink.setAttribute('data-mdb-target', '#licensesModal');

        // Append the navLink to the navItem
        addNavItem.appendChild(addNavLink);
        // Append the navItem to the tab list
        licensesTabList.append(addNavItem);

        let summaryItem = document.createElement('li');
        summaryItem.classList = 'nav-item';
        summaryItem.role = 'presentation';

        // Create the HTML for the summary link
        let summaryLink = document.createElement('a');
        summaryLink.classList = 'nav-link';
        summaryLink.id = 'summary';
        summaryLink.setAttribute('data-mdb-toggle', 'pill');
        summaryLink.href = '#summary-tab';
        summaryLink.role = 'tab';
        summaryLink.setAttribute('aria-controls', 'summary');
        summaryLink.setAttribute('aria-selected', 'false');
        summaryLink.textContent = 'Summary';

        // Append the summary link to the summaryItem
        summaryItem.appendChild(summaryLink);

        // Prepend the summary tab to the licenses tab list
        licensesTabList.prepend(summaryItem);

        // Create HTML for the summary tab content
        let summaryTabPane = document.createElement('div');
        summaryTabPane.classList = 'tab-pane fade p-3';
        summaryTabPane.id = 'summary-tab';
        summaryTabPane.role = 'tabpanel';
        summaryTabPane.setAttribute('aria-labelledby', 'summary');

        // Loop through the licensesArray and put the data into the UI
        for(let n = 0; n < licensesArray.length; n++){
          let license = licensesArray[n];
          //- console.log(license);
          let licenseName = license.LicenseName;
          let licenseID = license.LicenseID;
          let licenseType = license.LicenseTypeID;
          let licenseCountry = license.CountryID;
          let crNumber = license.CRNumber;
          let issueDate = license.IssueDate;
          let expirationDate = license.ExpirationDate;
          let pendingGC = license.PendingGC;
          let pendingGovt = license.PendingGovt;
          let timestamp = license.Timestamp;

          //- console.log(licenseID)

          let forms = $('form');

          //- console.log(forms);

          let currentFormID = forms[n + 1].id;
          let selector = '#' + currentFormID + " ";
          let suffix = n + 1;

          $("#licenseID" + suffix).val(licenseID);
          //- console.log($("#licenseID" + suffix ));

          $('#licenseName' + suffix).val(licenseName);

          $("#licenseTypesField" + suffix).val(licenseType);
          //- console.log($("#licenseTypesField" + suffix));

          $("#countriesField" + suffix).val(licenseCountry);

          // CR Number
          $("#crNumber" + suffix).val(crNumber);

          // Convert the date to a format that fits in the UI
          let issueDateString = issueDate.toString();
          //- console.log(issueDateString);
          //- console.log(issueDateString.slice(0, 10));
          //
          let formattedIssueDate = issueDateString.slice(0, 10);
          $('#issueDate' + suffix).val(formattedIssueDate);

          // Convert the date to a format that fits in the UI
          let expirationDateString = expirationDate.toString();
          let formattedExpDate = expirationDateString.slice(0, 10);
          $('#expirationDate' + suffix).val(formattedExpDate);

          if(pendingGC == 1) {
            $("#gcPending" + suffix).attr('checked', 'checked');
          }

          if(pendingGovt == 1) {
            $('#govtPending' + suffix).attr('checked', 'checked');
          }

          let timestampString = timestamp.toString();
          let formattedTimestamp = timestampString.slice(0, 10);

           // Summary tab data

          // Create the table row
          let summaryTableRow = document.createElement('tr');
          summaryTableRow.style = 'text-align: center; vertical-align: middle;';
          summaryTableRow.id = 'summaryTableRow' + (n + 1);
          //- console.log(summaryTableRow)

          // Fill in each cell in the row
          let idCell = document.createElement('td');
          idCell.style = 'text-align: center;'
          idCell.textContent = licenseID;

          let dateCell = document.createElement('td');
          dateCell.style = 'text-align: center;';
          dateCell.textContent = formattedTimestamp;

          let nameCell = document.createElement('td');
          nameCell.style = 'text-align: center;';
          nameCell.textContent = licenseName;

          // License Type Cell and Country Cell
          let typeCell = document.createElement('td');
          typeCell.style = 'text-align: center;';
          let countryCell = document.createElement('td');
          countryCell.style = 'text-align: center;';


          let typeName;
          let countryName;

          //Use the license type ID
          axios.get('/licenseTypes/names/' + licenseType).then((response) => {
            typeName = response.data[0].Type;
            countryName = response.data[0].CountryName;
            typeCell.textContent = typeName;
            countryCell.textContent = countryName;
            //- console.log(typeName)
          }).catch((error) => console.log(error.message));

          let issueCell = document.createElement('td');
          issueCell.style = 'text-align: center;';
          issueCell.textContent = formattedIssueDate;

          let expCell = document.createElement('td');
          expCell.style = 'text-align: center;';
          expCell.textContent = formattedExpDate;

          // GC Pending Cell
          let gcCell = document.createElement('td');
          gcCell.style = 'text-align: center;';

          if (pendingGC == 0) {
            pendingGC = "No";
          }
          else {
            pendingGC = "Yes";
          }

          gcCell.textContent = pendingGC;

          // Government Pending Cell
          let govtCell = document.createElement('td');
          govtCell.style = 'text-align: center';

          if (pendingGovt == 0) {
            pendingGovt = "No";
          }
          else {
            pendingGovt = "Yes";
          }

          govtCell.textContent = pendingGovt;

          // Select the table body
          let summaryBody = $('#summaryBody');
          //- console.log(summaryBody);
          // Append the table row to it
          summaryBody.append(summaryTableRow);
          // Append the cells to the row
          summaryTableRow.append(idCell, dateCell, nameCell, typeCell, countryCell, issueCell, expCell, gcCell, govtCell);
        }
        // Make it visible
        $('.invisible').removeClass('invisible');

        // Select the entire table
        let summaryTableWrapper = $('#summaryTableWrapper');

        // Append it to the summary tab pane
        summaryTableWrapper.appendTo(summaryTabPane);

        // Prepend the summary tab pane to the tab content
        tabContent.prepend(summaryTabPane);

      }


    });
  script(src="/js/licenses.js")

  script.
  //- ----------------- New License Country and License Type ----------------- -//
    // Place an empty option element into the dropdown for countries
      let newCountryBlankElement = document.createElement("option");
      newCountryBlankElement.value = 0;
      document.getElementById('newLicenseCountry').appendChild(newCountryBlankElement);

      // Place the countries into the licenseForm
      for(let i = 0; i < countriesArray.length; i++) {
      // Citizenship input
      let element = document.createElement('option');
      element.value = i + 1;
      element.text = countriesArray[i]['CountryName'];
      document.getElementById('newLicenseCountry').appendChild(element);
      }

      // Place an empty option element into the dropdown for license types
      let newBlankTypeElement = document.createElement("option");
      newBlankTypeElement.value = 0;
      document.getElementById('newLicenseType').appendChild(newBlankTypeElement);

      // When the country is changed, filter the license types dropdown
      let newLicenseTypeDropdown = $('#newLicenseType');
      $('#newLicenseCountry').on('input', function(e) {
        if(e.target.value == 0) {
          $('#newLicenseCountry').empty();
        }
        else {
          filterTypes(e.target.value, e.target.selectedOptions[0].text, newLicenseTypeDropdown);
        }
      });
