//-
  @Author: flowmar
  @Date: 2022-07-02 23:11:04
  @Last Modified by:   flowmar
  @Last Modified time: 2022-07-02 23:11:04


extends layout

block style
  style.
    .form-label{
    color: #fff;
    }

block content
  .container-fluid
    .row.mt-5
      .col-4.display-5.mx-5.page-title Mariner Licenses
      .col-7
    .row.bg-dark.m-3.p-1.py-3
      .col.shadow-4-strong.bg-light.bg-opacity-25.p-4.d-flex.justify-content-evenly.m-2.mb-0
        .container#licensesModule
          .row#numberOfLicensesRow(style="display: none !important")
            .col
              label.form-label(for="numberOfLicenses") Number of Licenses:
              input.form-control(id="numberOfLicenses" type="number")
            .col-3.mt-4.d-flex.align-items-end
              button.btn.btn-warning(id="generate-licenses-button" type="button" value="Generate") Generate
          .row#licenseNamesRow
          .row.my-4#licensesArea(style="display: none !important")
            .col.bg-dark.rounded.text-white.border.bg-opacity-75.p-0.shadow-4-strong
              ul.nav.nav-pills.nav-justified.mb-3.ms-0#licensesTabList(style="margin-left: 0;" role="tablist")
                //- li.nav-item(role="presentation")
                //-   a.link-light.nav-link.active#ex1-tab-1.bg-dark.bg-opacity-50(data-mdb-toggle='pill' href='#ex1-tabs-1' role='tab' aria-controls='ex1-tabs-1' aria-selected='true') Tab 1
                //- li.nav-item(role="presentation")
                //-   a.nav-link#ex1-tab-2(data-mdb-toggle='tab' href='#ex1-tabs-2' role='tab' aria-controls='ex1-tabs-2' aria-selected='false') Tab 2
                //- li.nav-item(role="presentation")
                //-   a.nav-link#ex1-tab-3(data-mdb-toggle='tab' href='#ex1-tabs-3' role='tab' aria-controls='ex1-tabs-3' aria-selected='false') Tab 3
              .tab-content#tab-content
                .tab-pane.fade.p-3#ex1-tabs-1(role='tabpanel' aria-labelledby='ex1-tab-1')
                  form(action="/license" method='POST' id="licenseForm").container
                    .row
                      .col
                        .display-5.fw-bold License Information
                        hr.mt-1
                    .row
                      .col-3
                        label.form-label MarinerID:
                        input.form-control(type="text" value=`${marinerID}` readonly)
                        input.form-control(type="text" value=`${marinerID}` name="marinerID" id="marinerIDhidden" hidden)
                      .col-1
                      .col-4
                        label.form-label Mariner Name:
                        input.form-control(type="text" name="marinerName" readonly)
                      .col-1
                      .col-3
                        label.form-label LicenseID:
                        input.form-control#licenseID(type="text" readonly)
                        input.form-control(type="text" name="licenseID" id="licenseIDhidden" hidden)
                    .row.my-4
                      .col-4
                        label.form-label License Type:
                        select.form-select#licenseTypesField(name="licenseType")
                      .col-4
                        label.form-label Country:
                        select.form-select#countriesField(name="country")
                    .row.my-4
                      .col-3
                        label.form-label Issue Date:
                        input.form-control(type="date" name="issueDate" id="issueDate")
                      .col-1
                      .col-3
                        label.form-label Expiration Date:
                        input.form-control(type="date" name="expirationDate" id="expirationDate")
                      .col
                    .row.my-5
                      .col
                        .form-check
                          input.form-check-input(type="checkbox" name="gcPending" id="gcPending")
                          label.form-label Pending Global Compliance
                      .col
                        .form-check
                          label.form-label Pending Government
                          input.form-check-input(type="checkbox" name="govtPending" id="govtPending")
                    .row
                      .col.d-flex.justify-content-end
                        button.btn.btn-success(type="button" onclick="saveLicenseInformation()") Save
                    .row.p-3
                      .col-6
                        .display-5.fw-bold License Activity
                      hr.mt-1
                    .row
                      h2 GC Activity
                    .row.my-4
                      .col-6
                        p (GC Activity Table)
                    .row.mt-4.mb-2
                      .col-6
                        label.form-label Global Compliance Activity:
                        textarea.form-control.bg-white.text-dark(data-parsley-maxlength="255" type="text" form="activityForm" maxlength="255")
                    .row
                      .col-6.d-flex.justify-content-end
                        button.btn.btn-success(type="button" onclick="saveGCActivity") Save
                      hr.mt-5
                    .row
                      h2 Govt Activity
                    .row.my-4
                      .col-6
                        p (Govt Activity Table)
                    .row.mt-4.mb-2
                      .col-6
                        label.form-label Government Activity:
                        textarea.form-control.bg-white.text-dark(data-parsley-maxlength="255" type="text" form="activityForm" maxlength="255")
                    .row
                      .col-6.d-flex.justify-content-end
                        button.btn.btn-success(type="button" onclick="saveGovtActivity()") Save
                      hr.mt-5
                    .row
                      h2 License Attachments
                    .row.my-4
                      .col-6
                        p (License Attachment Table)
                    .row.my-4
                      .col-6
                        label.form-label License Attachments:
                        .input-group#attachment-input-group
                          input.form-control.form-control-file.text-dark(id="attachment-file" name="attachment" type="file")
                          button.input-group-text.btn(id="attachment-upload-button" type="submit" style="background-color: var(--yellow-color); font-weight: bold;" value="Upload") Upload
                    //- .tab-pane.fade.p-3#ex1-tabs-2(role='tabpanel' aria-labelledby='ex1-tab-2') Tab 2 Content
                  //- .tab-pane.fade.p-3#ex1-tabs-3(role='tabpanel' aria-labelledby='ex1-tab-3') Tab 3 Content
            //- .row
            //-   .col
            //-     <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            //-       <li class="nav-item" role="presentation">
            //-         <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
            //-       </li>
            //-       <li class="nav-item" role="presentation">
            //-         <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false" >Tab 2</a>
            //-       </li>
            //-       <li class="nav-item" role="presentation">
            //-         <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
            //-       </li>
            //-     </ul>

            //-     <div class="tab-content" id="ex1-content">
            //-       <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1"> Tab 1 content </div>
            //-       <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2"> Tab 2 content </div>
            //-       <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">Tab 3 content</div>
            //-     </div>
                //- <div class="datatable" data-mdb-dark="true" data-mdb-color="blue-grey-dark" data-mdb-border-color="light" data-mdb-full-pagination="true" data-mdb-hover="true" data-mdb-striped="true" data-mdb-selectable="true">
                //-   table.table
                //-     thead
                //-       tr
                //-         th(scope="col") Date
                //-         th(scope="col") License Name
                //-         th(scope="col") Country
                //-         th(scope="col") Issue Date
                //-         th(scope="col") Expiration Date
                //-         th(scope="col") Pending GC
                //-         th(scope="col") Pending Government
                //-         th(scope="col") Upload Credential
                //-     tbody
                //-       tr
                //-         td Date
                //-         td License Name
                //-         td Country
                //-         td Issue Date
                //-         td Expiration Date
                //-         td Pending GC
                //-         td Pending Government
                //-         td Upload Credential
                //-   </div>

  script.
    // Get information from server
    let marinerID = !{JSON.stringify(marinerID)};
    let licensesArray = !{JSON.stringify(licenseInfo)};
    let countriesArray = !{JSON.stringify(countries)};
    let licenseTypesArray = !{JSON.stringify(licenseTypes)};
    //- console.log(licensesArray);
    //- console.log(countriesArray);
    //- console.log(licenseTypesArray);
    //- console.log(marinerID);


    $(document).ready( function() {

      // Place the countries into the licenseForm
      for(let i = 0; i < countriesArray.length; i++) {
      // Citizenship input
      let element = document.createElement('option');
      element.value = i + 1;
      element.text = countriesArray[i]['CountryName'];
      document.getElementById('countriesField').appendChild(element);
      }

      // Place the license types into the licenseForm
      for(let i = 0; i < licenseTypesArray.length; i++) {
      // Citizenship input
      let element = document.createElement('option');
      element.value = i + 1;
      element.text = licenseTypesArray[i]['Type'];
      document.getElementById('licenseTypesField').appendChild(element);
      }

      let numberOfLicensesRow = $('#numberOfLicensesRow');
      //- numberOfLicensesRow.hide();
      let licensesArea = $('#licensesArea');
         // Hide the licenses area from view
      //- licensesArea.hide();

      //TODO: Check to see if there are any licenses in the database, if there are, skip the license tab generation part
      let tabContent = $('#tab-content');
      let licensesTabList = $('#licensesTabList');

      if (licensesArray.length < 1) {

      let generateLicensesButton = document.getElementById('generate-licenses-button');
      let licensesModule = $('#licensesModule');
      let licenseForm = document.getElementById('licenseForm');
      numberOfLicensesRow.show();
      // When the generate button is clicked...
      generateLicensesButton.addEventListener('click', function(e) {

        // Get the value in the input field
        let numberOfLicenses = parseInt($('#numberOfLicenses').val());

        // Select the license Names row
        let licenseNamesRow = $('#licenseNamesRow');

        // Hide the generate licenses row
        $('#numberOfLicensesRow').attr('style','display: none !important;');

        // Based on the number of licenses, create text fields to accept the names
        for(let i = 1; i <= numberOfLicenses; i++)
        {
          // Create a label for the text field
          let label = document.createElement('label');
          label.setAttribute('for', "nameLicense" + i);
          label.textContent = "License " + i + " Name:";

          // Create the text field for the license name
          let element = document.createElement('input');
          element.classList = 'form-control bg-white';
          element.setAttribute('id', "nameLicense" + i);

          // Create a wrapper to place them into
          let div = document.createElement('div');
          div.classList = 'col-4 my-2'
          div.appendChild(label);
          div.appendChild(element);

          // Append the text fields to the license names row
          licenseNamesRow.append(div);
        }

        // Create an add the Create button to the UI
        let createButton = document.createElement('button');
        createButton.textContent = "Create";
        createButton.setAttribute('id', 'create-licenses-button');
        createButton.classList = 'btn btn-secondary my-2';

        // Create a wrapper for the button
        let createButtonDiv = document.createElement('div');
        createButtonDiv.classList = '.row';

        // Append the button to the div
        createButtonDiv.appendChild(createButton);

        // Append the div to the main module
        licenseNamesRow.append(createButtonDiv);

        // Select the create button
        let createLicensesButton = $('#create-licenses-button');

        // When the create button is clicked...
        createLicensesButton.on('click', function (e) {

        // Array to hold the license names
        let licenseNamesArray = [];

        // Get the text from each of the license name text fields
        for(let j = 1; j <= numberOfLicenses; j++)
        {

          // Create the selector for the license text field
          let licenseSelector = "#nameLicense" + j;
          //- console.log(licenseSelector);

          // Select the text field
          let licenseTextbox = $(licenseSelector);
          //- console.log(licenseTextbox);

          // Get the value in the text field
          let licenseName = licenseTextbox.val();
          //- console.log(licenseName);

          // Add the license name to the names array
          licenseNamesArray.push(licenseName);
        }

        // Show the licenses area
        $('#licensesArea').show();

        // Generate Tabs for each license in the names array
        for (let k = 0; k < licenseNamesArray.length; k++)
        {
        // Create the HTML for the tabs
        let navItem = document.createElement('li');
        navItem.classList = 'nav-item';
        navItem.role = 'presentation';

        // Create the HTML for the nav links
        let navLink = document.createElement('a');
        navLink.classList = 'nav-link';
        navLink.id = 'license-tab-' + (k + 1);
        navLink.setAttribute('data-mdb-toggle', 'tab');
        navLink.href = '#license-tabs-' + (k + 1);
        navLink.role = 'tab';
        navLink.setAttribute('aria-controls', 'license-tabs-' + (k + 1));
        navLink.setAttribute('aria-selected', 'false');
        navLink.textContent = licenseNamesArray[k];

        // Append the navLink to the navItem
        navItem.appendChild(navLink);
        // Append the navItem to the tab list
        licensesTabList.append(navItem);

        // Create HTML for the tab content
        let tabPane = document.createElement('div');
        tabPane.classList = 'tab-pane fade p-3';
        tabPane.id = 'license-tabs-' + (k + 1);
        tabPane.role = 'tabpanel';
        tabPane.setAttribute('aria-labelledby', 'license-tab-' + (k + 1));
        //- tabPane.textContent = 'License: ' + licenseNamesArray[k] + ' Content';

        // Create a clone of the form
        let formClone = licenseForm.cloneNode(true);

        // Replace spaces with hyphens and make the name lowercase
        let formIdName = licenseNamesArray[k].toLowerCase() + ' form';
        let formIdFormatted = formIdName.replace(/\s/g, '-');

        // Set the id of the form clone
        formClone.setAttribute('id', formIdFormatted);

        formClone.dataset.formNumber = k + 1;

        // Append the clone to the tab pane
        tabPane.appendChild(formClone);

        // Append the tab pane to the tab content
        tabContent.append(tabPane);

        // Change the IDs on the cloned form
        let suffix = k + 1;
        let selector = '#' + formIdFormatted;

        let formMarinerID = $("#marinerIDhidden").attr('id');
        $(selector + ' #marinerIDhidden').attr('id', formMarinerID + suffix);

        $(selector + ' #licenseIDhidden').attr('id', 'licenseIDhidden' + suffix);

        let formLicenseType = $('#licenseTypesField').attr('id');
        $(selector + ' #licenseTypesField').attr('id', formLicenseType + suffix);

        let formCountry = $('#countriesField').attr('id');
        $(selector + ' #countriesField').attr('id', formCountry + suffix);

        let formIssueDate = $('#issueDate').attr('id');
        $(selector + ' #issueDate').attr('id', formIssueDate + suffix);

        let formExpireDate = $('#expirationDate').attr('id');
        $(selector +' #expirationDate').attr('id', formExpireDate + suffix);

        let formGCPending = $('#gcPending').attr('id');
        $(selector + ' #gcPending').attr('id', formGCPending + suffix);

        let formGovtPending = $('#govtPending').attr('id');
        $(selector + ' #govtPending').attr('id', formGovtPending + suffix);

        }
        // Hide the license names row
        licenseNamesRow.hide();

        // Create the HTML for the + and summary tabs
        let navItem = document.createElement('li');
        navItem.classList = 'nav-item';
        navItem.role = 'presentation';

        // Create the HTML for the nav links
        let navLink = document.createElement('a');
        navLink.classList = 'nav-link';
        navLink.id = 'addLicense';
        navLink.setAttribute('data-mdb-toggle', 'pill');
        navLink.href = '#';
        navLink.role = 'tab';
        navLink.setAttribute('aria-controls', 'addLicense');
        navLink.setAttribute('aria-selected', 'false');
        navLink.textContent = '+';

        // Append the navLink to the navItem
        navItem.appendChild(navLink);
        // Append the navItem to the tab list
        licensesTabList.append(navItem);

        let summaryItem = document.createElement('li');
        summaryItem.classList = 'nav-item';
        summaryItem.role = 'presentation';

        // Create the HTML for the summary link
        let summaryLink = document.createElement('a');
        summaryLink.classList = 'nav-link';
        summaryLink.id = 'summary';
        summaryLink.setAttribute('data-mdb-toggle', 'pill');
        summaryLink.href = '#summary-tab';
        summaryLink.role = 'tab';
        summaryLink.setAttribute('aria-controls', 'summary');
        summaryLink.setAttribute('aria-selected', 'false');
        summaryLink.textContent = 'Summary';

        // Append the summary link to the summaryItem
        summaryItem.appendChild(summaryLink);

        // Prepend the summary tab to the licenses tab list
        licensesTabList.prepend(summaryItem);

        // Create HTML for the summary tab content
        let summaryTabPane = document.createElement('div');
        summaryTabPane.classList = 'tab-pane fade p-3';
        summaryTabPane.id = 'summary-tab';
        summaryTabPane.role = 'tabpanel';
        summaryTabPane.setAttribute('aria-labelledby', 'summary');

        //TODO: Create Summary Tab layout and append to pane

        // Prepend the summary tab pane to the tab content
        tabContent.prepend(summaryTabPane);

      });
      });
      }
      else
      {

        // Show the licenses area
        $('#licensesArea').show();

        console.log(licensesArray);
        let licenseNamesArray = [];

        for(let j = 0; j < licensesArray.length; j++) {
          licenseNamesArray.push(licensesArray[j]['LicenseName']);
        }

        // Generate Tabs for each license in the names array
        for (let k = 0; k < licenseNamesArray.length; k++)
        {
          // Create the HTML for the tabs
        let navItem = document.createElement('li');
        navItem.classList = 'nav-item';
        navItem.role = 'presentation';

        // Create the HTML for the nav links
        let navLink = document.createElement('a');
        navLink.classList = 'nav-link';
        navLink.id = 'license-tab-' + (k + 1);
        navLink.setAttribute('data-mdb-toggle', 'tab');
        navLink.href = '#license-tabs-' + (k + 1);
        navLink.role = 'tab';
        navLink.setAttribute('aria-controls', 'license-tabs-' + (k + 1));
        navLink.setAttribute('aria-selected', 'false');
        navLink.textContent = licenseNamesArray[k];

        // Append the navLink to the navItem
        navItem.appendChild(navLink);
        // Append the navItem to the tab list
        licensesTabList.append(navItem);

        // Create HTML for the tab content
        let tabPane = document.createElement('div');
        tabPane.classList = 'tab-pane fade p-3';
        tabPane.id = 'license-tabs-' + (k + 1);
        tabPane.role = 'tabpanel';
        tabPane.setAttribute('aria-labelledby', 'license-tab-' + (k + 1));

        // Create a clone of the form
        let formClone = licenseForm.cloneNode(true);

        // Replace spaces with hyphens and make the name lowercase
        let formIdName = licenseNamesArray[k].toLowerCase() + ' form';
        let formIdFormatted = formIdName.replace(/\s/g, '-');

        // Set the id of the form clone
        formClone.setAttribute('id', formIdFormatted);

        formClone.dataset.formNumber = k + 1;

        // Append the clone to the tab pane
        tabPane.appendChild(formClone);

        // Append the tab pane to the tab content
        tabContent.append(tabPane);

        // Change the IDs on the cloned form
        let suffix = k + 1;
        let selector = '#' + formIdFormatted;

        let formMarinerID = $("#marinerIDhidden").attr('id');
        $(selector + ' #marinerIDhidden').attr('id', formMarinerID + suffix);

        $(selector + ' #licenseID').attr('id', 'licenseID' + suffix);

        $(selector + ' #licenseIDhidden').attr('id', 'licenseIDhidden' + suffix);

        let formLicenseType = $('#licenseTypesField').attr('id');
        $(selector + ' #licenseTypesField').attr('id', formLicenseType + suffix);

        let formCountry = $('#countriesField').attr('id');
        $(selector + ' #countriesField').attr('id', formCountry + suffix);

        let formIssueDate = $('#issueDate').attr('id');
        $(selector + ' #issueDate').attr('id', formIssueDate + suffix);

        let formExpireDate = $('#expirationDate').attr('id');
        $(selector +' #expirationDate').attr('id', formExpireDate + suffix);

        let formGCPending = $('#gcPending').attr('id');
        $(selector + ' #gcPending').attr('id', formGCPending + suffix);

        let formGovtPending = $('#govtPending').attr('id');
        $(selector + ' #govtPending').attr('id', formGovtPending + suffix);
        }
        // Hide the license names row
        //- licenseNamesRow.hide();

        // Create the HTML for the + and summary tabs
        let addNavItem = document.createElement('li');
        addNavItem.classList = 'nav-item';
        addNavItem.role = 'presentation';

        // Create the HTML for the nav links
        let addNavLink = document.createElement('a');
        addNavLink.classList = 'nav-link';
        addNavLink.id = 'addLicense';
        addNavLink.setAttribute('data-mdb-toggle', 'pill');
        addNavLink.href = '#';
        addNavLink.role = 'tab';
        addNavLink.setAttribute('aria-controls', 'addLicense');
        addNavLink.setAttribute('aria-selected', 'false');
        addNavLink.textContent = '+';

        // Append the navLink to the navItem
        addNavItem.appendChild(addNavLink);
        // Append the navItem to the tab list
        licensesTabList.append(addNavItem);

        let summaryItem = document.createElement('li');
        summaryItem.classList = 'nav-item';
        summaryItem.role = 'presentation';

        // Create the HTML for the summary link
        let summaryLink = document.createElement('a');
        summaryLink.classList = 'nav-link';
        summaryLink.id = 'summary';
        summaryLink.setAttribute('data-mdb-toggle', 'pill');
        summaryLink.href = '#summary-tab';
        summaryLink.role = 'tab';
        summaryLink.setAttribute('aria-controls', 'summary');
        summaryLink.setAttribute('aria-selected', 'false');
        summaryLink.textContent = 'Summary';

        // Append the summary link to the summaryItem
        summaryItem.appendChild(summaryLink);

        // Prepend the summary tab to the licenses tab list
        licensesTabList.prepend(summaryItem);

        // Create HTML for the summary tab content
        let summaryTabPane = document.createElement('div');
        summaryTabPane.classList = 'tab-pane fade p-3';
        summaryTabPane.id = 'summary-tab';
        summaryTabPane.role = 'tabpanel';
        summaryTabPane.setAttribute('aria-labelledby', 'summary');

        // Prepend the summary tab pane to the tab content
        tabContent.prepend(summaryTabPane);

        // Loop through the licensesArray and put the data into the UI
        for(let n = 0; n < licensesArray.length; n++){
          let license = licensesArray[n];
          console.log(license);
          let licenseName = license.LicenseName;
          let licenseID = license.LicenseID;
          let licenseType = license.LicenseTypeID;
          let licenseCountry = license.CountryID;
          let issueDate = license.IssueDate;
          let expirationDate = license.ExpirationDate;
          let pendingGC = license.PendingGC;
          let pendingGovt = license.PendingGovt;

          console.log(licenseID)

          let forms = $('form');

          console.log(forms);

          let currentFormID = forms[n + 1].id;
          let selector = '#' + currentFormID + " ";
          let suffix = n + 1;

          $("#licenseID" + suffix).val(licenseID);
          //- console.log($("#licenseID" + suffix ));

          $("#licenseTypesField" + suffix).val(licenseType);
          //- console.log($("#licenseTypesField" + suffix));

          $("#countriesField" + suffix).val(licenseCountry);

          // Convert the date to a format that fits in the UI
          let issueDateString = issueDate.toString();
          //- console.log(issueDateString);
          //- console.log(issueDateString.slice(0, 10));
          //
          let formattedIssueDate = issueDateString.slice(0, 10);
          $('#issueDate' + suffix).val(formattedIssueDate);

          // Convert the date to a format that fits in the UI
          let expirationDateString = expirationDate.toString();
          let formattedExpDate = expirationDateString.slice(0, 10);
          $('#expirationDate' + suffix).val(formattedExpDate);

          if(pendingGC == 1) {
            $("#gcPending" + suffix).attr('checked', 'checked');
          }

          if(pendingGovt == 1) {
            $('#govtPending' + suffix).attr('checked', 'checked');
          }

        }
      }
    });
  script(src="/js/licenses.js")
