//-
  @Author: flowmar
  @Date: 2022-07-02 23:09:46
  @Last Modified by:   flowmar
  @Last Modified time: 2022-07-02 23:09:46


extends layout.pug

block content
  style.
    .form-label {
      color: #FFFFFF;
    }
    option {
      color: #FFFFFF;
    }

  .container-fluid
    .row.mt-5
      .col-4.display-5.mx-5.page-title Search
      .col-7
    .row.bg-dark.m-3.p-1.py-3
      .col.shadow-4-strong.bg-light.bg-opacity-25.p-4.d-flex.justify-content-evenly.m-2.mb-0
        form.container-fluid(name="searchDatabase" data-parsley-validate action="/search" method="POST")
          if searched == true
            .row.mt-4
              .col-4.border.p-3.mx-3#search-text-display
                span.h4 Your Search:
                .text-info Category:&nbsp;
                  i #{searchCategory}
                .text-warning Search Term:&nbsp; "<i>#{searchText}</i>"
          .row.d-flex.align-items-end.mt-4
            .col-3.mx-1
              label.form-label(for="search-by") Search By:
              select.form-select.bg-white(id="search-by" name="searchBy" aria-label="Select a search category")
                option()
                option(value="Mariner ID") Mariner ID
                option(value="First Name") First Name
                option(value="Last Name") Last Name
                option(value="Birth Date") Birth Date
                option(value="Employer") Employer
                option(value="Processing Agent") Processing Agent
                option(value="Status") Status
            .col-1
            .col
              label.form-label(id="search-label" for="search-input") Search:
              #search-input
              //- input.form-control.bg-white(type="text" id="search-input" name="searchText")
            .col-2.p-0
              button.btn.text-white(id="search-button" style="background-color: var(--purple-color);" onclick="search()")
                span
                  i.bi.bi-search(style="font-size: .88rem;")
                  span(style="font-size: .85rem;") &nbsp;&nbsp;Search
          //- if searched == true
          //-   .row.mt-4
          //-     .col-4.border#search-text-display
          //-       span.h4 Your Search:
          //-       p.text-info Category:&nbsp;
          //-         i #{searchCategory}
          //-       p.text-warning Search Term:&nbsp; "<i>#{searchText}</i>"
          .row
            include includes/tableHead
          .row
            .col-6
            .col-6.d-flex.justify-content-end.p-0#buttons
              a.btn.text-white.mx-2.buttons(id="view-mariner-button" type="button" href="#" style="background-color: var(--seafoam-color)")
                i.bi.bi-eye-fill(style="font-size: .88rem;")
                span(style="font-size: .85rem;")   &nbsp;View
              a.btn.btn-info.mx-2.buttons(id="edit-mariner-button" type="button" href="#")
                i.bi.bi-pencil-square(style="font-size: .88rem;")
                span(style="font-size: .85rem;")   &nbsp;Edit
              button.btn.btn-danger.mx-2.buttons(id="delete-mariner-button" type="button" href="#" onclick="confirmDelete()")
                i.bi.bi-x-circle-fill(style="font-size: .88rem;")
                span(style="font-size: .85rem;")   &nbsp;Delete

  script(src="/js/search.js")
  script.
    let loggedInUser = localStorage.getItem("currentUser");
    console.log(loggedInUser);
    if (loggedInUser) {
      localStorage.setItem("loggedIn", true);
      localStorage.setItem("currentUser", loggedInUser);
      console.log("User in localStorage: " + localStorage.getItem("currentUser"));
    }
    let employersArray = !{JSON.stringify(employers)};
    //- console.log(employersArray);
    // Change the Search Input based on the category that is chosen
    $('#search-by').on('change', function (_e) {
    let searchInput = $('#search-input');
    let selectedValue = this.value;
    let element;
    let agents = ['Arlene Martin', 'Margaret Landry', 'Austin Martin'];

    // Show the label
    $('#search-label').show();
    $('#search-button').show();
    $('#search-input').show();
    // Clear searchInput if it has any children
    if (searchInput.children().length > 0) searchInput.empty();

    switch (selectedValue) {
      case '':
        $('#search-input').hide();
        $('#search-button').hide();
        $('#search-label').hide();
        break;
      case 'Mariner ID':
        // Create an number input element
        element = document.createElement('input');
        element.classList = 'form-control bg-white';
        element.type = 'number';
        element.name = 'searchText';
        element.min = '10001';
        element.value = '10001';
        element.id = 'searchTextBox';
        searchInput.append(element);
        break;

      case 'Processing Agent':
        // Create a select element
        element = document.createElement('select');
        element.classList = 'form-select bg-white';
        element.id = 'agentSelect';
        element.name = 'searchText';
        searchInput.append(element);

        // Add the agents to the dropdown
        for (let agent of agents) {
          let option = document.createElement('option');
          option.value = parseInt(agents.indexOf(agent)) + 1;
          option.text = agent;
          let agentSelect = $('#agentSelect');
          agentSelect.append(option);
        }
        break;

      case 'First Name':
        element = document.createElement('input');
        element.classList = 'form-control bg-white';
        element.id = 'first-name-input';
        element.name = 'searchText';
        searchInput.append(element);
        break;

      case 'Last Name':
        element = document.createElement('input');
        element.classList = 'form-control bg-white';
        element.id = 'first-name-input';
        element.name = 'searchText';
        searchInput.append(element);
        break;

      case 'Birth Date':
        // Create a date input element
        element = document.createElement('div');
        element.classList = 'input-group';
        element.id = 'birth-date-picker';
        element.name = 'searchText';
        searchInput.append(element);
        let bdpicker = $("#birth-date-picker").dropdownDatepicker({
          monthFormat: "short",
          required: true,
          displayFormat: "ymd"
        });
        bdpicker.addClass("form-control");
        bdpicker.addClass('bg-indigo');
        // $('.date-dropdowns select').addClass('form-control');
        $('.date-dropdowns select').addClass('form-select');

        break;

      case 'Employer':
        // Create a select element
        element = document.createElement('select');
        element.classList = 'form-select bg-white';
        element.id = 'employerSelect';
        element.name = 'searchText';
        searchInput.append(element);
        // Place the employers into the UI
        for (let y = 0; y < employersArray.length; y++) {
          let option = document.createElement('option');
          option.value = parseInt(y) + 1;
          option.text = employersArray[y]['EmployerName'];
          let employerSelect = $('#employerSelect');
          employerSelect.append(option);
        }
        break;

        case 'Status':
        // Array with all statuses
        let statuses = ["Pending", "Submitted", "Completed"];
        // Create a select element
        element = document.createElement('select');
        element.classList = 'form-select bg-white'
        element.id = 'statusSelect';
        element.name = 'searchText';
        searchInput.append(element);
        // Place statuses into UI
        for (let x = 0; x < 3; x++) {
        let option = document.createElement('option');
        option.value = statuses[x];
        option.text = statuses[x];
        let statusSelect = $('#statusSelect');
        statusSelect.append(option);
        }
        break;

      default:
        break;
      }

      // Set up an event listener for the enter key on text boxes
      $('#searchTextBox').on('keypress', function (event) {
          if (event.key == 'Enter') {
            $('#search-button').click();
          }
        });
      $('#first-name-input').on('keypress', function (event) {
          if (event.key == 'Enter') {
            $('#search-button').click();
          }
        });
      });
      //- Wait until DOM is loaded
      window.addEventListener('DOMContentLoaded', (event) => {
      //- Use Pug to bring in data from database
      let marinerResultArray = !{JSON.stringify(results)};
      let searched = #{searched};

      //- Loop through array of Mariners and add data to table
      let tableBody = $('tbody');
      for (let mariner of marinerResultArray)
      {
        // Adjust for null value in database
        let status = mariner.status;
        if(status === null)
        {
          status = '';
        }
      // Append table rows with data to the tableBody
      tableBody.append("<tr style='text-align: center;'> <td id=" + mariner.marinerID  + ">" + mariner.marinerID + "</td><td>" + mariner.fullName + "</td><td>" + mariner.birthDate + "</td><td>" + mariner.employer + "</td><td>" + mariner.processingAgent + "</td><td>" + status + "</td>");
      }
      });
