mixin tableRow(mariner)
  tr
    td #{mariner.ID}
    td #{mariner.lastName}
    td #{mariner.firstName}
    td #{mariner.middleName}
    td #{mariner.streetAddress}
    td #{mariner.phoneNumber}
    td #{mariner.email}
    td #{mariner.citizenship}
    td #{mariner.employerID}
    td #{mariner.processingAgent}